.card-zoom-hover {
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s,; 
    &-bg:hover{
        background-color: $primary;
        transition: ease-in-out;
    }
}
.card-zoom-hover:hover {
    background-color: $primary;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(1.01);
    box-shadow: 5px 5px 30px -15px rgba(12, 5, 62, 0.15); //0 40px 60px -20px rgba(12, 5, 62, 0.15); 
} 
    
// .card-zoom{
//     transition: 500ms all ease-in-out;
// }
// .card-zoom:hover{
//     transition: 500ms all ease-in-out;
//     transform: scale(1.2);
//     box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
// }