.link-underline-textdark{
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        background: $text-dark;
        bottom: 0;
        // left: 50%;
        left: 0%;
        // transform: translateX(-50%);
        transform: translateX(0%);
        transition-duration: .4s;
        // opacity: 0; 
    }
    &:hover {
        &::before {
        width: 100%;
        opacity: 1; 
        } 
    }
    &--checked {
        &::before {
        width: 100%;
        opacity: 1; 
        } 
    } 
}