main{
    margin-top: 80.33px;
}

// form
.form-check{
    display: inline-block;
    // margin-right: 32px;
}

input[type=radio]:checked {
    border: 1px solid $primary-light;
 }
 input[type=checkbox]:checked {
    border: 1px solid $primary-light;
 }

// img
.object-fit-contain{
    object-fit: contain;
}

// contact.html google-map
.map-height{
    height: 360px;
    @include media-breakpoint-down(lg){
        height: 323px;
    }
    @include media-breakpoint-down(md){
        height: 195px;
    }
}

// course-intro.html 師資介紹
// 待啟用$enable-negative-margins後刪除
.m--40{
    margin-top: -40px;
}

.z-index-n1{
    z-index: -1;
}

.z-index-500{
    z-index: 500;
}

.btn-outline-primary-dark:hover{
    color: $white;
}

.btn-primary-light:hover{
    background-color: $primary-dark;
    border: 1px solid $primary-dark;
    color: $white;
}

.btn-primary:hover{
    background-color: $primary-light;
    border: 1px solid $primary-light;
    & a {
        color: $white;
    }
}