.swiper-container {
    width: 100%;
    height: 100%;
  }
  // 讓course-intro 師資介紹卡片同高,height從100%改auto
.swiper-slide{
  height: auto;
}
.swiper-slide .space-intro-img {
    display: block;
    width: 100%;
    // height: 100%;
    height: 196px;
    object-fit: cover;
    border-radius: 16px;
}

// .swiper-slide .course-teacher-img {
//   display: block;
// }

// 參考：tori
// index testimonial swiper version3 testing
.swiper-user-recommend {
  width: 100%;
  height: 100%;

  .swiper-slide {
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: flex-start; }

  .swiper-button-next, .swiper-button-prev {
    top: 95%;
    border: none;
    color: $primary;
    background: transparent;
    &::before {
      content: '';
      position: absolute;
      width: 45px;
      top: 20px;
      border-top: solid 5px;
      border-radius: 5px; }
    &::after {
      font-size: 38px;
      font-weight: 700; } }

  .swiper-button-next {
    &::before {
      right: 4px; } }

  .swiper-button-prev {
    &::before {
      left: 4px; } } }
  